/* src/components/ChooseYourPath.css */
.choose-path {
  padding: 4rem 2rem;
  text-align: center;
  background-color: #f9fbff;
}

.choose-path__title {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.choose-path__title .highlight {
  color: #4f8df5;
}

.choose-path__subtitle {
  font-size: 1.1rem;
  margin-bottom: 3rem;
  color: var(--color-shade);
}

.choose-path__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.path-card {
  flex: 1;
  min-width: 300px;
  max-width: 450px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.path-card h3 {
  font-size: 2rem;
  margin-bottom: 0rem;
  text-align: center;
}

.path-card p {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-shade);
}

.path-card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1.5rem;
  width: 100%;
}

.path-card ul li {
  margin-bottom: 0.5rem;
  padding-left: 1.2rem;
  position: relative;
}

.path-card ul li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #4f8df5;
}

.path-card__icon {
  width: 60px;
  height: 60px;
  background: linear-gradient(
    75deg,
    var(--blue-primary),
    var(--blue-secondary)
  );
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.1rem;
  padding: 0.5rem;
}

.path-card__icon-professional {
  background: linear-gradient(
    75deg,
    var(--blue-primary),
    var(--blue-secondary)
  );
}

.path-card__icon-hirer {
  background: linear-gradient(
    75deg,
    var(--green-primary),
    var(--green-secondary)
  );
}

.path-card__icon img {
  width: 35px;
  height: 35px;
  filter: brightness(0) invert(1);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  line-height: 1.2;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* .btn-width{
    width: 70%;
} */
.btn img {
  filter: brightness(0) invert(1);
}
.btn--blue {
  background: linear-gradient(135deg, #1554c1, #4b95f1);
  color: white;
}

.btn--green {
  background: linear-gradient(135deg, #3fae75, #3dd489);
  color: white;
}

.btn:hover {
  transform: translateY(-1px);
  color: #f1f1f1;
}
