/* src/components/HeroSection.css */
.hero {
  background: url("/frontend/image/hero-bg.jpg") center/cover no-repeat;
  color: white;
  position: relative;
  text-align: center;
}

.hero__overlay {
  background: linear-gradient(
    150deg,
    #12195cb9,
    #5976c6b2
  ); /* dark overlay for readability */
  padding: 6rem 0rem;
}

.hero__content {
  max-width: 800px;
  margin: 0 auto;
}

.hero__content h1 {
  color: white;
}

.hero__title {
  font-size: 3.1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  line-height: 1.6;
}

.hero__stats {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.stat h2 {
  font-size: 2rem;
  margin: 0;
  color: white;
}

.stat p {
  margin: 0.3rem 0 0;
  font-size: 1rem;
}
