.how-it-works {
  padding: 4rem 2rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 252, 252);
}

.how-it-works__header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.how-it-works__header .highlight {
  color: var(--blue-primary);
}

.how-it-works__header p {
  font-size: 1.1rem;
  color: var(--color-shade);
  max-width: 700px;
  margin: 0 auto 3rem;
}

.how-it-works__steps {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  justify-content: center;
}

.step-card {
  position: relative;
  background: white;
  border: 1px solid rgb(230, 229, 229);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  min-width: 300px;
  min-height: 250px;
  text-align: center;
  transition: all 0.3s ease;
}

.step-card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.step-card:hover h3 {
  color: var(--green-primary);
}

.step-card__icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.step-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
  color: rgb(32, 32, 32);
  font-weight: 500;
}

.step-card p {
  font-size: 0.95rem;
  color: var(--color-shade);
}

.step-card__number {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: var(--blue-primary);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
